@import '../variables';

.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;
    @media (max-width:520px) {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }
    b {
      margin-right: 8px;
      font-size: 14px;
    }

    span {
      font-size: 14px;
      color: $blue;
      border-bottom: 1px dashed $blue;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ccecff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 360px;
    @media (max-width:380px) {
      right: -9%;
      padding: 5px 0;
      width: 300px;
    }

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        @media (max-width:380px) {
          padding: 10px;
          font-size: 14px;
        }
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(39, 115, 196, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $blue;
        }
      }
    }
  }
}
