.root{
    display: flex;
    align-items: center;
    position: relative;
    left: -6%;
    @media (max-width:960px) {
        left: 0;
    }
}
.input{
    border: 1px solid #1e91fe;
    padding: 10px 30px;
    border-radius: 10px;
    width: 300px;
    font-size: 15px;
    &:focus{
        border: 2px solid #0577e2;
    }
    font-family: 'Montserrat', sans-serif;
    @media (max-width:960px) {
        width: 200px;
        font-size: 12px;
        padding: 10px 25px;

    }
    @media (max-width:668px) {
        width: 300px;
    }
    @media (max-width:380px) {
        width: 220px;
    }
}
.iconSearch{
    position: absolute;
    left: 10px;
    top: 12.5px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.5s;
    &:hover{
        opacity: 0.8;

    }
    color: #0577e2;
}
.iconClear{
    position: absolute;
    right: 10px;
    top: 12.5px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.5s;
    &:hover{
        opacity: 0.8;

    }
    color: #0577e2;
}