.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.notFoundTitle{
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}
.notFoundBtn{
    border: 1px solid rgb(254, 223, 100);
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 28px;
    transition: background-color .3s;
    &:hover{
        background-color: rgb(254, 223, 100);
    }
}